
   .animated-Mainheading-container {
    position: relative;
    overflow: hidden;
    background-color: black;
    height: 80px;
  }
  
  .animated-Mainheading {
    opacity: 0;
    transform: translateX(0);
    white-space: nowrap;
    animation: slideMainHeading 1.5s forwards, fadeIn 1.5s forwards;
    display: inline-block;
  }
  
  @keyframes slideMainHeading {
    from {
     
      transform: translateX(-150%);
    }
    to {
      
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  